#!/bin/sh
[Unit]
Description=Upload data to IoT cloud
[Service]
ExecStart=/usr/bin/python /home/root/Upcycled-Clock/IoTCloud/upload_data_schedule.py
StandardOutput=null
[Install]
WantedBy=basic.target
Alias=uploadingdata.service
